<!DOCTYPE html>
<html lang="{{ .Lang }}">
	<head>
		<title>{{ .Title }} — AMDmi3.core</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="{{ i18n "author" }}">
		<link rel="stylesheet" type="text/css" href="/style.css">
		<link rel="stylesheet" type="text/css" href="/syntax.css">
		<link rel="me" href="https://fosstodon.org/@AMDmi3">
		<link rel="me" href="https://github.com/AMDmi3">
		{{ if .IsTranslated }}
			{{ range .AllTranslations }}
				<link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Lang }}">
			{{ end }}
		{{ end }}
	</head>
	<body>
		<header class="header-section">
			<div class="wrapper">
				<div class="top-menu">
					<div class="top-menu_container">
						{{ with $.Site.GetPage "/" }}
							<a class="site-logo" href="{{ .Permalink }}">AMDmi3.core</a>
						{{ end }}
					</div>
					<nav class="top-menu_container top-menu_container__grow top-menu_container__right">
						{{ range $page := (slice "/" "/contributions" "/posts") }}
							{{ with $.Site.GetPage $page }}
								<a href="{{ .RelPermalink }}">{{ .Title }}</a>
							{{ end }}
						{{ end }}
						{{ if .IsTranslated }}
							{{ range .Translations }}
								<a href="{{ .RelPermalink }}" rel="alternate" title="{{ i18n (printf "this_page_in.%s" .Lang) }}">{{ .Lang | upper }}</a>
							{{ end }}
						{{ end }}
					</nav>
				</div>
			</div>
		</header>
		<main class="main-section">
			<div class="wrapper">
				{{ block "main" . }}
				{{ end }}
			</div>
		</main>
		<footer class="footer-section">
			<div class="wrapper">
				<nav class="footer">
					<ul class="footer_container footer-list">
						<li style="line-spacing: 200%">© {{ i18n "author" }}, <a href="https://creativecommons.org/licenses/by-sa/4.0/" rel="license">CC BY-SA</a></li>
						<li><ul>
							<li><a href="https://github.com/AMDmi3/AMDmi3.core/blob/master/content/{{ .File.Path }}">{{ i18n "this_page.source" }}</a></li>
							<li><a href="https://github.com/AMDmi3/AMDmi3.core/edit/master/content/{{ .File.Path }}">{{ i18n "this_page.edit" }}</a></li>
							<li><a href="https://github.com/AMDmi3/AMDmi3.core/issues/new?title=Please fix page &quot;{{ .Title }}&quot;">{{ i18n "this_page.report" }}</a></li>
						</ul></li>
					</ul>
					<ul class="footer_container footer-list">
						<li>E-Mail: <a href="mailto:amdmi3@amdmi3.ru" rel="me">amdmi3@amdmi3.ru</a></li>
						<li>GitHub: <a href="https://github.com/AMDmi3" rel="me">AMDmi3</a></li>
						<li>Mastodon: <a href="https://fosstodon.org/@AMDmi3" rel="me">@AMDmi3@fosstodon.org</a></li>
						<li>Telegram: <a href="https://telegram.me/AMDmi3" rel="me">@AMDmi3</a></li>
					</ul>
				</nav>
			</div>
		</footer>
	</body>
</html>
