/*
 * general
 */

/* reset margins and font sizes */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, table, figure { margin: 0; padding: 0; font-size: 1rem; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, table, figure { margin-bottom: 1rem; }

body {
	font-family: Roboto, Helvetica, Arial, sans-serif;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	color: #23373b;
	background-color: #fafafa;
	line-height: 1.5;
}


.footer-section {
}

.wrapper {
	max-width: 48em;
	margin-right: auto;
	margin-left: auto;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

/*
 * content
 */

/* links */
a { color: #2a7ae2; text-decoration: none; }
a:visited { color: #1756a9; }
a:hover { color: #111111; text-decoration: underline; }

/* headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; line-height: 1.5; }

h1 { font-size: 2.625rem; letter-spacing: -0.0375em; }
h2 { font-size: 2rem; }
h3 { font-size: 1.625rem; }
h4 { font-size: 1.250rem; }

/* lists */
ul, ol { margin-left: 1.5rem; }
li > ul, li > ol, li > p, figcaption > p { margin-bottom: 0; }

/* blockquote */
blockquote { color: #828282; border-left: 0.25rem solid #e8e8e8; padding-left: 1rem; font-style: italic; }

/* code */
code, pre { background-color: #f7f7f7; color: #23373b; } /* for light syntax theme, e.g. colorful */
/*code, pre { background-color: #23373b; color: #f8f8f2; } /* for dark syntax theme, e.g. dracula */
:not(pre) > code { padding: 0 0.25rem; border-radius: 0.25rem; border: 1px solid #dedede; }
pre { padding: 0.5rem; border-radius: 0.25rem; overflow-x: auto; border: 1px solid #dedede; }

/* tables */
table { width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }
table tr:nth-child(even) { background-color: #f7f7f7; }
table th, table td { padding: 0.5em 0.75em; }
table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }
table td { border: 1px solid #e8e8e8; }

/* images */
.figure {
	padding: 0.5rem;
	border-radius: 0.25rem;
	overflow-x: auto;
	border: 1px solid #dedede;
}

.figure_float-left {
	float: left;
	margin: 0 0.5rem 0.5rem 0;
}

.figure_float-right {
	float: right;
	margin: 0 0 0.5rem 0.5rem;
}

.figure__container {
	text-align: center;
}

.figure__caption {
	text-align: center;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	clear: both;
}

/* sidy by side */
.sidebyside { display: grid; grid-template-columns: 1fr 1fr; grid-gap: 0.5rem; max-width: 100%; }
.sidebyside > * { min-width: 0; }

/* special classes */
.post-summary { margin-bottom: 2em; }

.post-metadata { font-size: 0.875em; color: #828282; line-height: 1; }

article > header {
	margin-bottom: 2rem;
}

header > h1 {
	line-height: 1.2;
	margin-bottom: 1rem;
}

/*
 * site header
 */
.header-section {
	flex-grow: 1;
	border-bottom: 1px solid #e8e8e8;
}

.top-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: baseline;
	column-gap: 0.5rem;
}

.top-menu a:link, .top-menu a:visited {
	color: #23373b;
	text-decoration: none;
}

.top-menu a:hover {
	text-decoration: underline;
}

.top-menu_container {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: baseline;
	column-gap: 0.5rem;
}

.top-menu_container__grow {
	flex-grow: 1;
}

.top-menu_container__right {
	justify-content: flex-end;
}

.site-logo {
	display: block;
	font-size: 150%;
	line-height: 150%;
}

/*
 * main
 */
.main-section {
	flex-grow: 1;
	padding: 1.5rem 0;
}

/*
 * footer
 */
.footer-section {
	border-top: 1px solid #e8e8e8;
	padding: 0.5rem 0;
}

.footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 1rem;
}

.footer_container {
	flex-grow: 1;
}

.footer-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
}
