{{- $few_commits := 3 -}}
{{- $max_commits := 8 -}}

<ul>
{{ range $.Site.Data.contributions }}
	{{- if .commits -}}
	<li>
		{{- if .homepage -}}
			<a href="{{ .homepage }}">{{- .project -}}</a>
		{{- else -}}
			{{- .project -}}
		{{- end -}}
		{{- if .project | and .desc -}}: {{ end -}}
			{{- .desc -}}
		{{- if .commits }} (
			{{- $ncommits := len .commits -}}
			{{- range $idx, $commit := first $max_commits .commits -}}
				{{- if $idx }}, {{ end -}}
				{{- if le $ncommits $few_commits -}}
					<a href="{{ $commit.url }}">commit</a>
				{{- else -}}
					<a href="{{ $commit.url }}">{{- add $idx 1 -}}</a>
				{{- end -}}
			{{- end -}}
			{{- if gt $ncommits $max_commits -}}…{{- end -}}
		)
		{{- end -}}
		{{- if .dates }}, {{ .dates }}{{- end -}}
		{{- range .langs }}, <code>{{ . }}</code>{{- end -}}
		.{{- "" -}}
	</li>
	{{- end -}}
{{ end }}
</ul>
